.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #807b7b;
    padding: 10px;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav li{
    cursor: pointer;
    background-color: #b3c4e0;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
}
.nav li:hover{
    background-color: #96aad1;
    color: white;
}